* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.hero-preview {
  height: 50%;
  width: 100%;
}

.comingSoon-med {
  display: none;
}

.available-list-med {
  display: none;
}

.nav-med {
  display: none;
}

.navbar-override {
  background-color: transparent;
  border-radius: none;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 10%;
}

.netflix-logo {
  position: fixed;
  width: 37%;
  left: 0%;
  top: 0%;
  margin: 0%;
  padding: 0%;
}

.nav-list-div-override {
  position: fixed;
  top: 10%;
  left: 0%;
  right: 0%;
  background-color: transparent;
}

.nav-list-override {
  position: relative;
  top: 30%;
}

.nav-btn {
  border: none;
  background-color: transparent;
}

.nav-icon {
  position: fixed;
  top: 3%;
  right: 2%;
  width: 2em;
}

.nav-item-override {
  color: white;
  text-align: right;
}

.nav-link-override {
  color: white;
}

.user-name {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 2% 2% 2% 2%;
}

.my-list-btn {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding: 2% 2% 2% 2%;
  margin: 2% 2% 2% 2%;
  border: none;
  background-color: transparent;
}

.my-list-btn:active {
  text-decoration: underline;
}

.log-out {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding: 2% 2% 2% 2%;
  margin: 2% 2% 2% 2%;
  border: none;
  background-color: transparent;
}

.log-out:active {
  text-decoration: underline;
}


.comingSoon-movie {
  position: relative;
  top: 20%;
}

h2 {
  font-size: 2em;
  color: white;
  margin: 2% 0% 5% 0%;
  text-decoration: underline #d30408;
  text-transform: capitalize;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.6em;
  color: white;
  font-weight: 700;
}

.movie-item {
  text-align: center;
  align-content: center;
}

.movie-info {
  color: gray;
  font-size: 1.2em;
  text-align: center;
}

.play-icon {
  width: 100%;
}

.play-btn {
  border: none;
  background-color: transparent;
  width: 4em;
}

.add-btn {
  border: none;
  background-color: transparent;
  width: 5em;
}

.add-icon {
  width: 100%;
}

.available-movie {
  position: relative;
  top: 60%;
}

.carousel-inner img {
  width: 50%;
  margin: auto;
}

footer {
  color: grey;
  font-size: 13px;
  position: relative;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

footer .footer-grid {
  border-top: solid 2px #890306;
  padding: 4% 0% 4% 0%;
  margin: 5% 5% 0% 5%;
  display: grid;
  grid-template-columns: auto auto auto;
}

footer .footer-grid-wrapper {
  list-style-type: none;
  color: white;
  font-size: 1.3em;
  text-align: center;
}

footer .footer-grid-wrapper:hover {
  text-decoration: underline;
}

.author {
  text-align: center;
  margin: 0% 0% 5% 0%;
  color: grey;
  font-size: 1em;
}


@media(min-width: 650px) {
  .comingSoon-small {
    display: none;
  }

  .comingSoon-med {
    display: block;
  }

  .available-small {
    display: none;
  }

  .available-med {
    display: block;
  }

  .nav-small {
    display: none;
  }

  .nav-med {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 10%;
    width: 100%;
    background-color: transparent;
    z-index: 2;
  }

  .nav-list {
    position: fixed;
    top: 3%;
    right: 3%;
    left: 40%;
    width: 57%;
    list-style: none;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .nav-list-item {
    margin: 0% 1% 0% 1%;
  }

  .netflix-logo {
    width: 20%;
  }

  .comingSoon-list-med {
    position: relative;
    top: 15%;
    width: 95%;
    left: 1%;
    right: 1%;
    list-style: none;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .comingSoon-movie-item-med {
    position: relative;
    width: 96%;
    margin: 2% 2% 2% 2%;
    border: solid red 3px;
  }

  .available-list-med {
    position: relative;
    top: 15%;
    width: 95%;
    left: 1%;
    right: 1%;
    list-style: none;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .available-movie-item-med {
    position: relative;
    width: 99%;
    margin: 2% 2% 2% 2%;
    border: solid red 3px;
  }

  .movie-img {
    position: relative;
    width: 100%;
    align-items: center;
  }

  .movie-name {
    font-size: 2em;
    color: white;
  }

  .movie-info {
    font-size: 1.5em;
    color: grey;
    text-align: center;
    align-items: center;
  }

}

@media(min-width: 1000px) {

  .nav-med {
    height: 8%;
  }

  .netflix-logo {
    max-width: 15%;
  }

  .nav-list {
    top: 1.5%;
  }

  .comingSoon-list-med {
    position: relative;
    top: 15%;
    width: 90%;
    left: 5%;
    right: 5%;
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .available-list-med {
    position: relative;
    top: 15%;
    width: 90%;
    left: 5%;
    right: 5%;
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .comingSoon-movie-item-med:hover {
    margin: 0% 2% 0% 2%;
    background-color: black;
    animation-name: hover-change;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 10;
    /* position: relative; */
  }

  .available-movie-item-med {
    margin: 0% 2% 0% 2%;
    background-color: black;
    animation-name: hover-change;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 10;
  }

  .available-movie-item-med:hover{
    margin: 0% 2% 0% 2%;
    background-color: black;
    animation-name: hover-change;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 10;
  }

  @keyframes hover-change {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.2);
    }
  }
}