body{
    background-color: black;
}

.header{
    position: fixed;
    z-index: 2;
}

.netflix-logo{
    position: fixed;
    width: 40%;
    left: 0%;
    top: 0%;
    margin: 0%;
    padding: 0%;
}

.user-name{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    position: fixed;
    right: 25%;
    top: 0%;
}

.log-out{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    position: fixed;
    right: 2%;
    top: 3%;
    padding: 2% 2% 2% 2%;
    border: none;
    border-radius: 4px;
    background-color: #D30408;
}


.movie-img{
    width: 14em;
    height: 20em;
}

.movie-name{
    color: white;
}

.movie-info{
    color: white;
}

.movie-info-section{
    margin: 4% 0% 8% 0%;
}

.movie-display{
    position: absolute;
    top: 40%;
    left: 10%;
}